.main-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
}

.chef-container {
  margin: 1rem;
  margin-bottom: 8rem;
  display: grid;
  place-items: center;
  width: 30rem;
}

.chef-image {
  margin-bottom: 1rem;
}

.about-chef {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.recipe-image {
  height: 12rem;
  width: 36rem;
  margin-bottom: 1rem;
}
