body {
  padding: 0 10rem 0 10rem;
}

.main-header {
  display: grid;
  place-items: center;
  margin-top: 1rem;
}

.main-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
}

.chef-container {
  margin-bottom: 8rem;
  display: grid;
  place-items: center;
  padding: 1rem;
}

.chef-image {
  margin-bottom: 1rem;
}

.chef-image-gordon {
  height: 25.5rem;
  margin-bottom: 1rem;
}

.about-chef {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 18px;
}

.recipe-header {
  margin-bottom: 1rem;
}

.recipe-image {
  width: 36rem;
  margin-bottom: 1rem;
}

.recipe-name {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.recipe-name:hover {
  color: black;
}

.footer {
  border-top: black solid 1px;
  width: 100%;
  padding-top: 1rem;
}

.footer-header {
  margin-bottom: 5px;
}

.copyright {
  margin-bottom: 5px;
}

/*media queries*/

@media (max-width: 1600px) {
  body {
    padding: 0;
  }

  .main-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .chef-container {
    padding: 0;
    margin-bottom: 5rem;
  }

  .about-chef {
    width: 35rem;
  }

  .recipe-name {
    padding: 1rem;
    border-bottom: black 1px solid;
  }

  .footer {
    display: grid;
    place-items: center;
  }
}

@media (max-width: 612px) {
  .chef-name {
    font-size: 22px;
  }

  .about-chef {
    font-size: 18px;
    width: 80%;
  }

  .recipe-header {
    font-size: 22px;
  }

  .recipe-name {
    font-size: 22px;
  }

  .footer {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  body {
    padding: 0;
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }

  .chef-container {
    padding: 0;
    margin-bottom: 3rem;
  }

  .chef-image {
    width: 100%;
  }

  .chef-name {
    font-size: 18px;
  }

  .about-chef {
    font-size: 16px;
    width: 60%;
  }

  .recipe-header {
    font-size: 18px;
  }

  .recipe-name {
    font-size: 16px;
    padding: 1rem;
    border-bottom: black 1px solid;
  }

  .footer {
    font-size: 16px;
    text-align: center;
  }
}
