body {
  padding: 0 10rem 0 10rem;
}

.banner {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
}

.banner-image {
  width: 100%;
  align-self: flex-end;
  height: 33rem;
  object-fit: cover;
  object-position: 50% 80%;
}

.main-container {
  display: grid;
  place-items: center;
}

.form-item {
  outline: none;
}

#message {
  height: 10rem;
  width: 20rem;
}
