body {
  padding: 0 10rem 0 10rem;
}

.banner {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
}

.banner-image {
  width: 100%;
  align-self: flex-end;
  height: 33rem;
  object-fit: cover;
  object-position: 50% 80%;
}

.main-container {
  display: grid;
  place-items: center;
}

.header-info {
  margin-bottom: 2rem;
}

.form-item {
  outline: none;
  width: 20rem;
  border-radius: 5px;
  border: black 1px solid;
  margin-bottom: 1rem;
  padding: 0 0.5rem 0 0.5rem;
}

#message-box {
  height: 10rem;
}

.contact-form {
  margin-bottom: 1rem;
}

.button {
  border-style: solid;
  height: 3rem;
  width: 10rem;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
  border-width: 1px;
  background: white;
  color: #02a000;
  margin-bottom: 3rem;
}

.footer {
  display: grid;
  place-items: center;
  border-top: black solid 1px;
  width: 100%;
  padding-top: 1rem;
}

.footer-header {
  margin-bottom: 5px;
}

.copyright {
  margin-bottom: 5px;
}

/*media queries*/
@media (max-width: 1300px) {
  body {
    padding: 0;
  }

  .banner-image {
    height: 30rem;
  }
}

@media (max-width: 600px) {
  .banner-image {
    height: 20rem;
  }
}

@media (max-width: 480px) {
  .header-info {
    width: 80%;
    text-align: center;
  }
}
