.main-container {
  display: grid;
  place-items: center;
}

.recipe-card {
  display: grid;
  place-items: center;
  margin: 1rem;
  border-width: 1px;
  padding: 1rem;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.75);
}

.link {
  text-decoration: none;
  color: black;
  transition: 200ms ease;
}

.link:hover {
  text-decoration: underline;
}

body {
  background: url(https://bit.ly/3mFnfPT);
  background-size: 100%;
  font-family: "Nunito", sans-serif;
}

.search-input {
  height: 2rem;
  padding-left: 5px;
  font-size: 16px;
  outline: none;
  border-style: solid;
  border-radius: 5px;
}

.search-button {
  border-style: solid;
  height: 2.5rem;
  width: 7rem;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
  border-width: 1px;
  background-color: transparent;
  transition: 200ms ease;
}

.search-button:hover {
  background: rgb(241, 239, 239);
}

@media (max-width: 700px) {
  .recipe-container {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .recipe-card {
    width: 300px;
    padding: 0.5rem;
  }

  .recipe-image {
    width: 250px;
  }

  .link {
    font-size: 14px;
  }
}

@media (min-width: 701px) {
  .recipe-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
  }

  .recipe-card {
    width: 300px;
    padding: 0.5rem;
  }

  .recipe-image {
    width: 250px;
  }

  .link {
    font-size: 16px;
  }
}

@media (min-width: 1000px) {
  .recipe-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
  }

  .recipe-card {
    width: 300px;
    padding: 1rem;
  }

  .recipe-image {
    width: 250px;
  }

  .link {
    font-size: 18px;
  }
}
