body {
  padding: 0 10rem 0 10rem;
  margin: 0;
}

.banner {
  display: flex;
  margin-bottom: 2rem;
  height: 40rem;
}

.banner-image {
  width: 100%;
  align-self: flex-end;
}

.about-header {
  margin-bottom: 2rem;
}

.about-container {
  display: grid;
  place-items: center;
}

.recipe-div {
  display: grid;
  place-items: center;
  margin-top: 5rem;
}

.recipe-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.recipe-image {
  width: 100%;
}

.recipe-card {
  display: grid;
  place-items: center;
  margin: 2rem;
  margin-bottom: 2rem;
}

.recipe-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-top: 1rem;
}
