.banner {
  display: flex;
  margin-bottom: 2rem;
  height: 40rem;
  /* overflow: hidden; */
}

.banner-image {
  width: 100%;
  align-self: flex-end;
}

.about-header {
  margin-bottom: 1rem;
}

.about-container {
  display: grid;
  place-items: center;
}
